@import './gameboard.css';
@import './ships.css';
@import './placement.css';

/* General Styles */
body {
  margin: 0;
  background-color: rgba(175,175,175, .3);
  font-family: 'Rubik Distressed', cursive;
}

#title {
  padding: 10px;
  font-size: 2rem;
}

#displayInfo {
  text-align: center;
  font-size: 1.5rem;
}

.start {
  text-align: center;
  & #start {
    margin-top: 20px;
    padding: 10px;
  }
  & button {
    border: none;
    box-shadow: 0 5px 10px 1px rgb(0,0,0);
  }
}

@media screen and (max-width: 1200px) {
  #displayInfo::before {
    content: 'This game is meant to be played on larger than 1200px screens \A'
  }
}
