body {
  margin: 0;
  background-image: linear-gradient(to right, rgba(12, 73, 102, 0.795), rgba(78, 104, 103, 0.815));
  font-family: 'Rubik Distressed', cursive;
}
#title {
  padding: 10px;
  font-size: 3em;
}
#gameBoard {
  margin: 20px;
}
.container {
  position: relative;
  display: flex;
}

#displayInfo {
  text-align: center;
  width: 50%;
  font-size: 2em;
}

#board, #attackBoard {
  display: grid;
  position: relative;
  grid-template-columns: repeat(10, minmax(60px, 1fr));
  justify-content: center;
  align-items: center;
  margin: 0 0 25px 25px;
  overflow: visible;
}

#attackBoard {
  display: none;
}

.tile, .attackTile {
  min-height: 60px;
  position: relative;
  border: 2px solid rgba(243, 239, 239, 0.15);
  border-radius: 8px;
}
.tile:hover {
  border-color: rgb(0, 128, 0);
  box-shadow: inset 0 0 5px #000;
}
.attackTile:hover {
  border-color: rgb(128, 0, 0);
  box-shadow: inset 0 0 10px #000;
}
.tile img {
  position: absolute;
}

#start {
  width: 100%;
}
#start button {
  padding: 15px;
  width: 50%;
}

/* Tile Ship Placement Icons */
.up, .down, .left, .right {
  color: rgb(0, 128, 0);
}
.up:hover, .down:hover, .left:hover, .right:hover {
  scale: 1.5;
}
.up {
  position: absolute;
  width: 100%;
  text-align: center;
  top: -5px;
}
.down {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -5px;
}
.left {
  position: absolute;
  height: 100%;
  align-items: center;
  left: -5px;
}
.right {
  position: absolute;
  height: 100%;
  align-items: center;
  right: -5px;

}

.carrier {
  width: 300px;
  top: 10%;
}

.battleship {
  width: 240px;
  top: 25%;
}

.destroyer {
  width: 180px;
  top: 35%;
}

.warship {
  width: 180px;
  top: 40%;
}

.patrol {
  width: 120px;
  top: 40%;
}

/* Ship Styles */
#ships {
  display: flex;
  position: relative;
  flex-direction: column;
}
.ship {
  background-color: #ffffff;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 5px 0;
  width: 150px;
  height: 62px;
}
svg.confirm {
  width: 50px;
  height: 50px;
}
#Carrier {
  background-image: url(../assets/aircraftcarrier.svg);
  color: red;
}

#Battleship {
  background-image: url(../assets/battleship.svg);
  color: red;
}

#Destroyer {
  background-image: url(../assets/destroyer.svg);
  color: red;
}

#Warship {
  background-image: url(../assets/warship.svg);
  color: red;
}

#Patrol {
  background-image: url(../assets/patrol.svg);
  color: red;
}